{% extends "base.html" %}

{% block content %}
<h1>
    Готовые шаблоны
</h1>
<br>
{% if templates %}
    {% for t in templates %}
        <ul class="list-group">
            <div class="list-group" style="margin: 2px;">
                <a href="../static/downloads/{{t.path}}" class="list-group-item list-group-item-action" download>
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{t.title}}</h5>
                    <small class="text-muted">{{t.author}}</small>
                  </div>
                  <p class="mb-1">{{t.desc}}</p>
                  <small class="text-muted">Нажмите чтобы скачать</small>
                </a>
              </div>
        </ul>
    {% endfor %}
{% else %}
    <h3>Ничего не найдено</h3>
{% endif %}
<br>
<form action="/upload" method="POST" enctype="multipart/form-data">
        <h3>Добавить свой шаблон</h3>
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="title" placeholder="Название" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <input type="text" class="form-control" name="desc" placeholder="Описание" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <input type="text" class="form-control" name="author" placeholder="Автор" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <div class="input-group">
            <input type="file" class="form-control" name="file" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Загрузить</button>
        </div>
</form>
{% endblock %}